<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeometryView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD680BE61D37A56900FEE8F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD680BFA1D37A56900FEE8F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD680C051D37A56900FEE8F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
